.banner-image {
    width:100%;
}

.index-car-photo {
    width:100%;
}

.indexLogos {
    width:20px;
    height:20px;
}

.block-image img {
    width:100%;
}

.car-carousel-img {
    width:100%;
}

.car-page-list-slide {
    width:145px;
    height:145px;
    margin:3px;
}

.find-us-img {
    width:100%;
}