/* FONT COLOURS */
$base-font-size:16px;
$base-font-family:"Segoe UI","Segoe WP", "Segoe Regular", sans-serif;
$base-font-colour:#000;

/* BACKGROUND COLOURS */
$primary-red:#FF0000;
$secondary-white:#FFF;

$light-colour:#00009C;
$index-car-background-colour:#E4E4E4;

/* DIMENSIONS */
$block-padding: 10px;
$h-margin: 15px;
$header-height:80px;