/* 
*
*
* POINT OF MOBILE/TABLET NAVBAR COMPRESSION & CONTAINER-FLUID REPOSITIONING 
*
*
*/

@media (max-width:767px) {

    /* NAVIGATION */
    .navbar-nav > li > a {
        margin-top: 10px !important; 
        margin-bottom: 5px !important; 
    }
    
    .navbar-collapse {
        margin-top:10px;
    }
    
    /* IMAGES */    
    .banner-image {
        height:65px;
    }
    
    .image {
        display:block;
        margin:20px auto 0 auto;
    }
    
    .indexLogos {
        width:30px;
        height:30px;
    }
    
    .car-page-list-slide {
        width:110px;
        height:110px;
    }

    .find-us-img {
        height:380px;
    }

    /* FOOTER */
    .footer-main {
        ul {
            margin-bottom: 20px;
            text-align:center;
        }

        h4 {
            text-align:center;
        }
    }

    #footer-map {
        margin-bottom:20px;
    }

    /* BLOCKS */
    .index-car-block {
        width:100%;
        margin-bottom:20px;
    } 
    
    .index-car-desc-block {
        border:none;
    }
     
    .car-page-right-side {
        margin-left:$h-margin;
    }
    
    /* COMPONENTS */
    #car-page-carousel {
        margin-bottom:30px;
    }

    .car-slides-holder {
        padding-top:0 !important;
        padding-bottom:0 !important;
        margin-top:0 !important;
        margin-bottom:0 !important;
    }
    
    .car-page-details {
        margin-left:0;
        padding-left:0;
    }
}

@media (max-width:640px) {
    
    /* IMAGES */
    .find-us-img {
        height:330px;
    } 
    
    /* BLOCKS */
    .car-slides-holder {
        display:none;
        margin:0;
        padding:0;
    }
    
}

@media (max-width:480px) {

    /* IMAGES */ 
    .find-us-img {
        height:200px;
    }

    /* TYPOGRAPHY */
    h1 {
        font-size:2em;
    } 
}

@media (max-width:320px) {
    /* NAV */
    .navbar-brand {
        width:60%;
    }
    
    /* IMAGES */ 
    .banner-image {
        height:60px;
    } 
}